*{
    box-sizing: border-box;
    padding: 0;
    scrollbar-width: none;
}
a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    font-family: "Barlow", sans-serif;
    color: white;
    margin: 0px;
}

body{
    background-color: rgb(19,19,20);
    color: white;
    background-image: url(images/bg-image-copy.png);
}
*::-webkit-scrollbar{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    top: 5px;
    margin: 0px;
}

.nav-index{
    margin-bottom: 17.9em;
}
#nav-bg{
    height: 6.6em;
    position:fixed;
    top:0px;
    background-color: rgb(19,19,20);
    width: 100%;
    z-index: -1;

}
.nav-bg-index{
    animation-name: nav-bg-animation;
    animation-timeline: scroll();
}

@keyframes nav-bg-animation {
    0%{
        background-color: transparent;
    }
    100%{

    }
}

.name-tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 3em;
    font-family: "Barlow", sans-serif;
    padding-left:0em ;
}

.my-picture{
    border-radius: 10em;
    border-width: 12px;
    border-color: white;
    width: 17%;
    margin-right: 1em;

}

.my-picture-index{
    animation-name:mypicture-animation ;
    animation-timeline: scroll()
}

@keyframes mypicture-animation{
    0%{
        transform: translate(38rem,5rem) scale(3);

    }

}

.my-name{
    font-size: 1.2em;
    color: lightblue;
}

.my-name-index{
    animation-name: name-animation;
    animation-timeline: scroll();
}

@keyframes name-animation {
    from{
        transform: translate(+27.3rem,+12em) scale(1.3);
        color: white;
    }

}

.nav-buttons-list{
    /* color: lightsalmon; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2.5em;
    font-size: medium;
    font-family: "Barlow", sans-serif;
}

.nav-buttons-list-index{
    animation-name: navbuttons-list-animation;
    animation-timeline: scroll();
}


@keyframes navbuttons-list-animation {
    0%{
        color:rgb(250, 197, 176);
        transform: translate(-14rem,19rem) scale(1.6);
        width: 70%;
        font-size: small;
        justify-content: space-around;
        /* background-color: red; */
        padding: 0;

    }

    100%{


    }
}

.nav-buttons:hover{
    position: relative;
    bottom:.5em;

}
#main-heading{
    /* margin-top: em; */
    display:block;
    background-color: #003459 ;
    margin-bottom: 0;
    padding: 1em;
    padding-bottom: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 8em;
    animation-name: mainheading-animation;
    animation-timeline: scroll();
}
@keyframes mainheading-animation {
    0%{

    }
    75%{
        width: 30em;
        margin: 0;
    }
    100%{
        width: 100%;
        margin: 0;
        /* transform: translate(0,-2em); */
    }

}

.portfolio-lists{
    color: black;
    background-color:  #104469;
    display: flex;
    justify-content: space-around;
    padding: 5em;
    /* padding-bottom: 10em; */
    align-items: baseline;
    font-family: "Barlow", sans-serif;

}



.part{
    display: flex;
    background-color:rgb(19,19,20) ;
    /* padding: 5em; */
    border-radius: 2em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: 0.3em 0.3em 0.1em; */
}

.part-list-item{
    /* color: white; */
    color: rgb(255, 136, 90);
    border: solid;
    padding: 0.9em 3em;
    margin: 0.5em 2em;
    border-radius: 0.6em;
    border-width: 3px;
    border-color: rgb(255, 136, 90);
    /* background-color: rgb(255, 136, 90); */

}


/* comment page */

#comment-content{
    display: flex;
}


/* #form-div{
    display: flex;
    justify-content: center;
} */

#comment-form{
    display: flex;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    width: 30%;
    height: 33rem;
    margin-left: 10rem;
    justify-content: space-around;
    align-items: space-between;
    border:none;
}


input{
    margin-left: 5%;
    width: 20em;
    height: 2em;
    border-color: #003459;
    /* border-radius: 0.5em; */
    border-style: solid;
    padding: 1%;
    border-width: 2px;
    background-color: rgb(19,19,20) ;
    color: white;
}

textarea{
    /* margin-left: 10%; */
    border-color: #003459;
    /* border-radius: 0.5em; */
    border-style: solid;
    padding: 1%;
    border-width: 2px;
    background-color: rgb(19,19,20) ;
    color: white;
}

#agreement-label{
    display: inline;
    font-size: 0.5em;
    color: coral;
}
#agreement{
    margin-right: 1%;
    padding: 0px;
    width: 20px;

}

#posted-comments-div{
    max-height: 30rem;
    overflow-y: scroll;
}

.comment-div{
    position: relative;
    z-index: -1;
    height: 13rem;
    width: 20rem;
    margin: 2rem 0rem 1rem 1rem;
    background-color: white;
    border-radius: 1em;
    padding: 0.6rem 2rem;
    color: black;
}

.commenters-image{

    width:50px;
    border-radius: 5em;
    position: relative;
    right: 1.25rem;

}

#comment-box-input{
    width:30em ;
    height:20em ;
}


#agreement-div{
    /* background-color: rebeccapurple; */
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: left;

}
button{
    font-weight: bold;
    display: flex;
    justify-self: center;
    margin-left: 40%;
    border-color: #003459;
    background-color: #003459;
    color: white;
    border-style: solid;
    padding:  1rem;
    transition: ease-in 0.1s;
}

button:hover{
    border-color: #205479;
    background-color: #205479;
}
button:active{
    border-color:lightsalmon;
    background-color:lightsalmon;
}
