*{
    box-sizing: border-box;
    padding: 0;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
a{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

h1{
    font-family: "Barlow", sans-serif;
    color: white;
    margin: 0px;
}

body{
    background-color: rgb(19,19,20);
    color: white;
    background-image: url(images/bg-image-darkened-copy.png);
}
*::-webkit-scrollbar{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    top: 5px;
    margin: 0px;
}

#nav-bg{
    height: 6.6em;
    position:fixed;
    top:0px;
    background-color: rgb(19,19,20);
    width: 100%;
    opacity: 80%;
    z-index: -1;

}

@keyframes nav-bg-animation {
    0%{
        background-color: transparent;
    }
    100%{

    }
}

.name-tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 3em;
    font-family: "Barlow", sans-serif;
    padding-left:0em ;
}

.my-picture{
    border-radius: 10em;
    border-width: 12px;
    border-color: white;
    width: 17%;
    margin-right: 1em;

}

@keyframes mypicture-animation{
    0%{
        transform: translate(38rem,5rem) scale(3);

    }

}

.my-name{
    font-size: 1.2em;
    color: lightblue;
}

.nav-buttons-list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2.5em;
    font-size: medium;
    font-family: "Barlow", sans-serif;
}

.nav-index{
    margin-bottom: 19rem;
}


.nav-bg-index{
    animation-name: nav-bg-animation;
    animation-timeline: scroll();
}

.my-picture-index{
    animation-name:mypicture-animation ;
    animation-timeline: scroll()
}

.nav-buttons{
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

.nav-buttons:hover{
    transform:translateY(-0.5em);
}

/*--------------------------------------------------------index--------------------------------------------------------*/


.my-name-index{
    animation-name: name-animation;
    animation-timeline: scroll();
}

@keyframes name-animation {
    from{
        transform: translate(+27.3rem,+12em) scale(1.3);
        color: white;
    }

}

.nav-buttons-list-index{
    animation-name: navbuttons-list-animation;
    animation-timeline: scroll();
}

@keyframes navbuttons-list-animation {
    0%{
        transform: translate(-14rem,19rem) scale(1.6);
        width: 70%;
        font-size: small;
        justify-content: space-around;
        /* background-color: red; */
        padding: 0;

    }

    100%{


    }
}

#main-heading{
    /* former color #003459 */
    /* margin-top: em; */
    display:block;
    background-color: #104469 ;
    margin-bottom: 0;
    padding: 1em;
    padding-bottom: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 8em;
    animation-name: mainheading-animation;
    animation-timeline: scroll();
}
@keyframes mainheading-animation {
    0%{

    }
    75%{
        width: 30em;
        margin: 0;
    }
    100%{
        width: 100%;
        margin: 0;
        /* transform: translate(0,-2em); */
    }

}

.portfolio-lists{
    background-color:  #104469;
    display: flex;
    justify-content: space-around;
    padding: 4.8em 5em;
    /* padding-bottom: 10em; */
    align-items: baseline;
    font-family: "Barlow", sans-serif;

}

.part{
    position: relative;
    display: flex;
    background-color: black ;
    /* padding: 5em; */
    border-radius: 2em;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* box-shadow: 0.3em 0.3em 0.1em; */
    max-height: 21.5rem;
    overflow:scroll;
    min-height: 21.5rem;
}

.part-list-item{
    display: flex;
    color: rgb(255, 136, 90);
    background-color: black;
    border: solid;
    /* padding: 0.9em 0em; */
    align-items: center;
    margin: 0.5em 2em;
    border-radius: 0.6em;
    width: 16rem;
    justify-content: center;
    height: 3.3em;
    border-width: 3px;
    border-color: rgb(255, 136, 90);
    text-align: center;
    /* background-color: rgb(255, 136, 90); */
    animation-name: part-list-item-animation;
    animation-duration: 3s;
    animation-timeline: scroll(root);

}

@keyframes part-list-item-animation {
    0%{
        transform: translateY(16em);

    }
    50%{

    }
}

/*-------------------------------------------------- comment page --------------------------------------------------*/

#comment-content{
    display: flex;
}

#comment-form{
    display: flex;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    width: 30%;
    height: 33rem;
    margin-left: 10rem;
    justify-content: space-around;
    align-items: space-between;
    border:none;
}


input{
    margin-left: 5%;
    width: 20em;
    height: 2em;
    border-color: #003459;
    /* border-radius: 0.5em; */
    border-style: solid;
    padding: 1%;
    border-width: 2px;
    background-color: rgb(19,19,20) ;
    color: white;
}

textarea{
    /* margin-left: 10%; */
    border-color: #003459;
    /* border-radius: 0.5em; */
    border-style: solid;
    padding: 1%;
    border-width: 2px;
    background-color: rgb(19,19,20) ;
    color: white;
}

#agreement-label{
    display: inline;
    font-size: 0.5em;
    color: coral;
}
#agreement{
    margin-right: 1%;
    padding: 0px;
    width: 20px;

}

#posted-comments-div{
    max-height: 30rem;
    overflow-y: scroll;
}

.comment-div{
    position: relative;
    z-index: -1;
    height: 13rem;
    width: 20rem;
    margin: 2rem 0rem 1rem 1rem;
    background-color: #104469;
    border-radius: 1em;
    padding: 0.6rem 2rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: comment-div-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes comment-div-animation {
    50%{
        transform: translateY(-5em);
    }
    100%{

    }
}

.commenters-image{

    width:50px;
    border-radius: 5em;
    position: relative;
    right: 1.25rem;

}

#comment-box-input{
    width:30em ;
    height:20em ;
}

#agreement-div{
    /* background-color: rebeccapurple; */
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: left;

}
button{
    font-weight: bold;
    display: flex;
    justify-self: center;
    margin-left: 40%;
    border-color: #003459;
    background-color: #003459;
    color: white;
    border-style: solid;
    padding:  1rem;
    transition: ease-in 0.1s;
}

button:hover{
    border-color: #205479;
    background-color: #205479;
}
button:active{
    border-color:lightsalmon;
    background-color:lightsalmon;
}

/* -----------------------------------------------Resources -----------------------------------------------*/

#resource-ul{
    padding: 0rem 5rem;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: -1;
}

.resource-links{
    display: block;
    color: black;
    font-size: 5em;
    align-items: center;
    width: 40rem;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.resource-links:hover{
    transform: scale(1.1);
}

.make-it-fit{
    display: flex;
    align-items: center;
    transform: scale(0.5);
    transform-origin: left;
    background-color:white;
    width: 55rem;
    height: 10rem;
    margin: 0px;
    border-radius: 1rem;
}


.resource-links-image{
    list-style: none;
    display: flex;
    text-align: left;
    margin-left: 0.5rem;
    padding-right: 0.3em;
}

/*----------------------------------------------------------Images------------------------------------------------*/

#image-content{
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 35rem;
    margin: auto;

}
.image-images{
    margin: auto;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.image-images:hover{
    transform: scale(1.2);
}
